.popup__save-button {
  width: 100%;
  min-width: 358px;
  margin: 13px 0 0;
  padding: 14px;
  box-sizing: border-box;
  border: none;
  background-color: #000000;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  opacity: 1;
  transition: opacity 1s;
}

.popup__save-button:not([disabled]):hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 526px) {
  .popup__save-button {
    min-width: 238px;
    padding: 14.5px;
    font-size: 14px;
    line-height: 17px;
  }
}
