.card__description {
  display: flex;
  padding: 25px 20px 22px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}
