.card__like-button {
  background-image: url(../../../images/like-button.svg);
  width: 22px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 0 3px 0;
  padding: 0;
  cursor: pointer;
  border: none;
  opacity: 1;
  transition: opacity 1s;
}

.card__like-button:hover {
  opacity: 0.5;
}
