.auth__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration-line: none;
  opacity: 1;
  transition: opacity 1s;
  margin: 15px 0 0;
  padding: 0;
}

.auth__link:hover {
  opacity: 0.6;
}