.card__delete-button {
  background-image: url(../../../images/delete-button.svg);
  width: 18px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 1;
  transition: opacity 1s;
}

.card__delete-button:hover {
  opacity: 0.6;
}
