.auth__submit-button {
  width: 100%;
  min-width: 358px;
  margin-top: 186px;
  padding: 14px;
  box-sizing: border-box;
  border: none;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  opacity: 1;
  transition: opacity 1s;
}

.auth__submit-button:not([disabled]):hover {
  opacity: 0.85;
  cursor: pointer;
}

@media screen and (max-height: 660px) {
  .auth__submit-button {
    margin-top: calc(100vh - 500px);
  }
}

@media screen and (max-height: 500px) {
    .auth__submit-button {
      margin-top: 0;
    }
  }