.auth__input {
  display: block;
  border: none;
  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 13px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 2px solid #CCCCCC;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.auth__input::placeholder {
  font-weight: 400;
  color: #CCCCCC;
}