@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__menu-bar/header__menu-bar.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__signout-button/header__signout-button.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/gallery/gallery.css);
@import url(./blocks/gallery/__list/gallery__list.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
@import url(./blocks/card/__like-group/card__like-group.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_size/popup__container_size_m.css);
@import url(./blocks/popup/__container/_size/popup__container_size_s.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__item/_type/popup__item_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__img-container/popup__img-container.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__info-tooltip-text/popup__info-tooltip-text.css);
@import url(./blocks/popup/__info-tooltip-icon/popup__info-tooltip-icon.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__submit-button/auth__submit-button.css);
@import url(./blocks/auth/__link/auth__link.css);

body {
  background-color: #000000;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}
